extends layout
block content
	.container.home
		.row
			.col-lg-12.copy
				div
					//-h2.logo
					h1 CARTUNES
					form(method="get", action="/auth/google")#login_form
						button(type="submit")#login LOGIN WITH GOOGLE
		.row
			.col-lg-12
				p Akki Ogra
		.album_bg
		.gradient_cover


